<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="user" (ngSubmit)="updateProfile()" #profileForm="ngForm">
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstName" name="firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="user.lastName" name="lastName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Commune</ion-label>
      <ion-input type="text" [(ngModel)]="user.commune" name="commune" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
    </ion-item>

    <!-- Vous pouvez choisir de ne pas inclure les champs de mot de passe si la page de profil n'est pas destinée à mettre à jour le mot de passe -->
    <!-- ...autres champs si nécessaire... -->

    <!-- Champ de sélection de rôle, si l'utilisateur peut changer son rôle -->
    <ion-item>
      <ion-label position="floating">Rôle</ion-label>
      <ion-select [(ngModel)]="user.role" name="role" required>
        <ion-select-option value="citizen">Citoyen</ion-select-option>
        <ion-select-option value="communalEmployee">Employé communal</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!profileForm.valid">Sauvegarder les modifications</ion-button>
  </form>
</ion-content>

