/* J'ajoute la classe personnalisée pour le pied de page */
.custom-footer {
    background-color: var(--ion-color-primary); /* Couleur du bouton */
    color: white; /* Couleur du texte */
    text-align: center;
    padding: 10px; /* Espacement interne */
  }
  